extends ../layout
block styles
  link(href='/stylesheets/auth/signup.css', rel='stylesheet', type='text/css', media='all')
  link(href='/bower_components/toastr/toastr.css', rel='stylesheet', type='text/css', media='all')
  link(href="/bootstrapformhelpers/bootstrap-formhelpers.min.css", rel='stylesheet', type='text/css', media='all')
  link(href="/stylesheets/auth/setting.css", rel='stylesheet', type='text/css', media='all')
block content
  .main-container
    section.no-pad.login-page.fullscreen-element
      .background-image-holder
        img.background-image(alt='Poster Image For Mobiles', src='/Pivot 2.0.3/img/hero6.jpg')
      .container.align-vertical
        h1.text-white.text-center Update Account
        form(method='post',action='/myaccount/setting',enctype='application/x-www-form-urlencoded')
          .photo-form-wrapper.clearfix.col-md-6
            input(name='firstName', type='text', placeholder='First Name' value=usertoverify.firstName?usertoverify.firstName:'')
            |
            input(name='lastName', type='text', placeholder='Last Name' value=usertoverify.lastName?usertoverify.lastName:'')
            |
            input(name='dateOfBirth', type='date', placeholder='Birthday' value=usertoverify.dateOfBirth?usertoverify.dateOfBirth:'')
            |
            input(name='addressLine1', type='text', placeholder='Address Line1' value=usertoverify.addressLine1?usertoverify.addressLine1:'')
            |
            input(name='city', type='text', placeholder='City' value=usertoverify.city?usertoverify.city:'')
          .photo-form-wrapper.clearfix.col-md-6
            label.labelforselect.text-center &nbsp; #{usertoverify.country}
            select#country.form-control.bfh-countries.pull-right(data-country='US',name='country')
            |
            label.labelforselect.text-center &nbsp; #{usertoverify.stateProvince}
            select#states1.bfh-states.form-control.pull-right(name='stateProvince',data-country="country")
            |
            input(name='postalCode', type='text', placeholder='PostalCode' value=usertoverify.postalCode?usertoverify.postalCode:'')
            |
            input(name='email', type='email', placeholder='Enter Email' value=usertoverify.email?usertoverify.email:'')
            |
            input.btn.btn-primary.btn-filled.pull-right(type='submit', value='Update')
        .clearfix
block scripts
  script(src='/bower_components/toastr/toastr.js')
  script(src='/bootstrapformhelpers/bootstrap-formhelpers.min.js')
  script(src='/javascripts/auth/setting.js')
  script(type='text/javascript').
    var errors = '!{errors}';

    if (errors){
      errors = JSON.parse(errors);
      for (var i=0;i<errors.length;i++) {
        toastr.warning(errors[i].msg);
      }
    }
